body {
  margin: 25px;
}

table {
  border: 1px solid;
}

table thead {
  display: block;
}

table thead th {
  width: 250px;
  border: 1px solid;
}

table tbody {
  display: block;
  overflow-y: scroll;
  height: 150px;
}

table tbody td {
  width: 250px;
  border: 1px solid;
}
